body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 800px;
    width: 1000px;
}

h1, h2 {
    color: #343a40;
}

button {
    margin-left: 450px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 145px;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px ;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

li img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 10px;
}

li.selected {
    background-color: #007bff;
    color: white;
}

.bar-container {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
}

.bar {
    height: 20px;
    background-color: #007bff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    line-height: 20px;
}
